<header>

  <div class="column info">
    <!-- 
    <figure>
      <a href="/">
        <img class="perfil" border="0" src="/images/perfil-felipe-chama.jpg" width="100" alt="Felipe Chama" title="Felipe Chama">
      </a>
    </figure>
    -->
    <hgroup>
      <h1>Felipe Chama</h1>
      <h2>Front-End Developer</h2>
    </hgroup>
  </div>

  <div class="column social-links">
    <ul>
      <li>
        <a href="http://www.linkedin.com/in/felipechama" target="_blank" alt="LinkedIn" title="LinkedIn"><span class="icon-linkedin cor-transition"></span></a>
      </li>
      <!-- 
      <li>
        <a href="http://felipechama.com/files/Curriculo_Felipe_Chama.pdf" target="_blank" alt="Currículo em PDF" title="Currículo em PDF" download><span class="icon-pdf cor-transition"></span></a>
      </li> 
      -->
      <li>
        <a href="https://twitter.com/ChamaFelipe" target="_blank" alt="@ChamaFelipe" title="@ChamaFelipe"><span class="icon-twitter cor-transition"></span></a>
      </li>
      <li>
        <a href="mailto:felipechama42@gmail.com" alt="Enviar e-mail" title="Enviar e-mail"><span class="icon-arroba cor-transition"></span></a>
      </li>
    </ul>
  </div>

</header>

<nav class="menu">
  <ul>
    <!-- 
    <li>
      <a href="/resumo" alt="Resumo">
        <span class="icon-resumo cor-transition"><p>Resumo</p></span>
        
      </a>
    </li>
    -->
    <!-- <li>
      <a href="/portfolio" alt="Portfólio">
        <span class="icon-portfolio cor-transition"></span>
        <p>Portfólio</p>
      </a>
    </li> -->
  </ul>
</nav>
