---
# 
---
@charset "utf-8";

// Variáveis de configuração
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #999999;
$background-color: #F0F0F0;

$width-desktop: 800px;
$width-tablet: 768px;
$width-mobile: 320px;

// Fonte de ícones
@font-face {
    font-family: 'FCIcon';
    src: url('../font/FCIcon.eot');
    src: url('../font/FCIcon.eot') format('embedded-opentype'),
         url('../font/FCIcon.woff') format('woff'),
         url('../font/FCIcon.ttf') format('truetype'),
         url('../font/FCIcon.svg#FCIcon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: "FCIcon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "FCIcon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "t";
}
.icon-linkedin:before {
  content: "l";
}
.icon-pdf:before {
  content: "p";
}
.icon-arroba:before {
  content: "a";
}

// 
.cor-transition, 
.cor-transition .hover-inherit{
  -moz-transition-property: color, opacity, border;
  -webkit-transition-property: color, opacity, border;
  -ms-transition-property: color, opacity, border;
  -o-transition-property: color, opacity, border;
  transition-property: color, opacity, border;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }


// Import partials from 'sass_dir'
@import
  "reset",
  "style"
;
